<?php
/* Define constants for work with DB */
define("DB_SERVER", "localhost");
define("DB_USER", "{{ db_user }}");
define("DB_PASS", "{{ db_upassword }}");
define("DB_NAME", "{{ db_name }}");
define("DB_GUESTSTABLE", "guests_count");

/* Connect to DB */
$con = mysql_connect(DB_SERVER, DB_USER, DB_PASS) or die(mysql_error());
mysql_select_db(DB_NAME) or die("Cannot select DB");
mysql_query('SET NAMES utf8');

/* Get user IP */
$ip = $_SERVER['REMOTE_ADDR'];

/* Select rows with current user ip */
$query = mysql_query("SELECT * FROM ".DB_GUESTSTABLE." WHERE ip='".$ip."'");

if (mysql_num_rows($query) == 0) {	
	/* Add new user IP in table */
	mysql_query("INSERT INTO ".DB_GUESTSTABLE." (ip) VALUES('$ip')");	
	
	/* Count of connect for new user (first connect) */
	$count = 1;	
} else {
	/* New count == old count + 1 */
	$count = mysql_fetch_assoc($query)['count'] + 1;
	
	/* Update new count in table */
	mysql_query("UPDATE ".DB_GUESTSTABLE." SET count='".$count."' WHERE ip='".$ip."'");
}

/* Print counts of connect */
echo 'Count of connect with your IP-address: '.$count;	
?>